<html lang="en">

    <head data-id="__react-email-head">
        <link rel="preload" as="image" href="https://i.ibb.co/RSmFn59/dior-logo.png" />
        <link
            rel="preload"
            as="image"
            href="https://eco-beauty.dior.com/on/demandware.static/-/Sites-master_dior/default/assets/social/C099600310_social_GHC.jpg"
        />
        <link
            rel="preload"
            as="image"
            href="https://eco-beauty.dior.com/on/demandware.static/-/Sites-master_dior/default/assets/social/C099600640_social_GHC.jpg"
        />
        <link
            rel="preload"
            as="image"
            href="https://eco-beauty.dior.com/on/demandware.static/-/Sites-master_dior/default/assets/social/C099600561_social_GHC.jpg"
        />
        <link
            rel="preload"
            as="image"
            href="https://eco-beauty.dior.com/on/demandware.static/-/Sites-master_dior/default/assets/Y0997072/Y0997072_C099700181_E01_GHC.jpg"
        />
        <link
            rel="preload"
            as="image"
            href="https://eco-beauty.dior.com/on/demandware.static/-/Sites-master_dior/default/assets/social/F063535000_social_GHC.jpg"
        />
        <link
            rel="preload"
            as="image"
            href="https://portal-apptree-bucket.s3.ap-northeast-2.amazonaws.com/uploads/images/product_recommendations/8131/90923405-14ab-48e5-b2f1-2d0e4a5d913d-Y0996499_C099600862_E01_GHC.jpg"
        />
        <link rel="preload" as="image" href="https://i.ibb.co/RSmFn59/dior-logo.png" />
        <link
            rel="preload"
            as="image"
            href="https://eco-beauty.dior.com/on/demandware.static/-/Sites-master_dior/default/assets/social/C099600310_social_GHC.jpg"
        />
        <link
            rel="preload"
            as="image"
            href="https://eco-beauty.dior.com/on/demandware.static/-/Sites-master_dior/default/assets/social/C099600640_social_GHC.jpg"
        />
        <link
            rel="preload"
            as="image"
            href="https://eco-beauty.dior.com/on/demandware.static/-/Sites-master_dior/default/assets/social/C099600561_social_GHC.jpg"
        />
        <link
            rel="preload"
            as="image"
            href="https://eco-beauty.dior.com/on/demandware.static/-/Sites-master_dior/default/assets/Y0997072/Y0997072_C099700181_E01_GHC.jpg"
        />
        <link
            rel="preload"
            as="image"
            href="https://eco-beauty.dior.com/on/demandware.static/-/Sites-master_dior/default/assets/social/F063535000_social_GHC.jpg"
        />
        <link
            rel="preload"
            as="image"
            href="https://portal-apptree-bucket.s3.ap-northeast-2.amazonaws.com/uploads/images/product_recommendations/8131/90923405-14ab-48e5-b2f1-2d0e4a5d913d-Y0996499_C099600862_E01_GHC.jpg"
        />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Your Dior Skin Analyzer Consultation Results</title>
        <style>
            @media(min-width:640px) { .sm_w_200px_ { width: 200px !important; } .sm_px_5 { padding-left: 1.25rem
            !important; ; padding-right: 1.25rem !important; } } @media(min-width:768px) { .md_w_260px_ { width: 260px
            !important; } .md_pl_16 { padding-left: 4rem !important; } .md_text_base { font-size: 1rem !important; ;
            line-height: 1.5rem !important; } .md_text_xl { font-size: 1.25rem !important; ; line-height: 1.75rem
            !important; } } @media(min-width:1024px) { .lg_w_330px_ { width: 330px !important; } }
        </style>
    </head>
    <div
        id="__react-email-preview"
        style="display:none;overflow:hidden;line-height:1px;opacity:0;max-height:0;max-width:0"
    >Your Dior Skin Analyzer Consultation Results<div
        > ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿</div>
    </div>

    <body data-id="__react-email-body">
        <div
            style="margin-left:auto;margin-right:auto;width:100%;max-width:64rem;font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji"
        >
            <h1 style="display:none">Dior</h1>
            <div style="margin-top:4rem;margin-bottom:4rem;width:100%;text-align:center"><img
                    alt="Dior"
                    src="https://i.ibb.co/RSmFn59/dior-logo.png"
                    style="margin-left:auto;margin-right:auto"
                /></div>
            <div
                class="md_text_xl"
                style="margin-left:auto;margin-right:auto;margin-bottom:3.5rem;padding-left:5rem;padding-right:5rem;text-align:center;font-size:1rem;line-height:1.5rem"
            >
                <p style="margin-bottom:1rem">Thank you for the time spent with your beauty consultant.</p>
                <p>Following your
                    <b>Dior Skin Analyzer</b>
                    consultation, please find the results of your skin diagnosis as well as your personalized beauty
                    routine.</p>
            </div>
            <div
                style="margin-bottom:1rem;border-bottom-width:1px;border-left-width:0px;border-right-width:0px;border-top-width:1px;border-style:solid;border-color:rgb(229,229,229);padding-left:4rem;padding-right:4rem;padding-top:1.5rem;padding-bottom:1.5rem"
            >
                <h2
                    style="margin-bottom:1.25rem;text-align:center;font-size:1.25rem;line-height:1.75rem;font-weight:700;text-transform:uppercase"
                >YOUR SKIN ANALYZER CONSULTATION RESULTS</h2>
                <h3
                    style="margin-bottom:1rem;text-align:center;font-size:1.25rem;line-height:1.75rem;font-weight:400;text-transform:uppercase"
                >YOUR SKIN ASSESSMENT</h3>
                <table
                    class="md_text_base"
                    style="width:100%;border-collapse:collapse;overflow:hidden;border-radius:1.5rem;font-size:0.875rem;line-height:1.25rem"
                >
                    <tbody>
                        <tr style="background-color:rgb(238,171,172)">
                            <td
                                class="md_pl_16"
                                style="width:60%;padding-left:2rem;padding-top:1.25rem;text-transform:uppercase;letter-spacing:0.1em"
                            >{{weakness1}}</td>
                            <td style="width:20%;padding-top:1.25rem">{{weaknesScore1}}</td>
                            <td style="width:20%;padding-top:1.25rem"></td>
                        </tr>
                        <tr style="background-color:rgb(238,171,172)">
                            <td class="md_pl_16" style="width:60%;padding-left:2rem"></td>
                            <td style="width:20%"></td>
                            <td style="width:20%;color:rgb(125,125,125)">your priority</td>
                        </tr>
                        <tr style="background-color:rgb(238,171,172)">
                            <td
                                class="md_pl_16"
                                style="width:60%;padding-bottom:1.25rem;padding-left:2rem;text-transform:uppercase;letter-spacing:0.1em"
                            >{{weakness2}}</td>
                            <td style="width:20%;padding-bottom:1.25rem">{{weaknesScore2}}</td>
                            <td style="width:20%;padding-bottom:1.25rem"></td>
                        </tr>
                    </tbody>
                </table>
                <table
                    class="md_text_base"
                    style="width:100%;border-collapse:collapse;overflow:hidden;border-radius:1.5rem;font-size:0.875rem;line-height:1.25rem"
                >
                    <tbody>
                        <tr>
                            <td
                                class="md_pl_16"
                                style="width:60%;padding-left:2rem;padding-top:1.25rem;text-transform:uppercase;letter-spacing:0.1em"
                            >{{weakness3}}</td>
                            <td style="width:20%;padding-top:1.25rem">{{weaknesScore3}}</td>
                            <td style="width:20%;padding-top:1.25rem"></td>
                        </tr>
                        <tr style="height:1.25rem"></tr>
                        <tr>
                            <td
                                class="md_pl_16"
                                style="width:60%;padding-bottom:1.25rem;padding-left:2rem;text-transform:uppercase;letter-spacing:0.1em"
                            >{{weakness4}}</td>
                            <td style="width:20%;padding-bottom:1.25rem">{{weaknesScore4}}</td>
                            <td style="width:20%;padding-bottom:1.25rem"></td>
                        </tr>
                    </tbody>
                </table>
                <table
                    class="md_text_base"
                    style="width:100%;border-collapse:collapse;overflow:hidden;border-radius:1.5rem;font-size:0.875rem;line-height:1.25rem"
                >
                    <tbody>
                        <tr style="background-color:rgb(255,244,240)">
                            <td
                                class="md_pl_16"
                                style="width:60%;padding-top:1.25rem;padding-bottom:1.25rem;padding-left:2rem;text-transform:uppercase;letter-spacing:0.1em"
                            >{{weakness5}}</td>
                            <td style="width:20%;padding-top:1.25rem;padding-bottom:1.25rem">{{weaknesScore5}}</td>
                            <td style="width:20%;padding-top:1.25rem;padding-bottom:1.25rem;color:rgb(125,125,125)">your
                                strength</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h2
                style="margin-bottom:0.25rem;text-align:center;font-size:1.25rem;line-height:1.75rem;font-weight:400;text-transform:uppercase"
            >YOUR DIOR BEAUTY ROUTINE</h2>
            <h3
                style="margin-bottom:0.75rem;text-align:center;font-size:1.125rem;line-height:1.75rem;font-weight:400;text-transform:uppercase"
            >SKINCARE</h3>

            <table
                style="width:100%;border-bottom-width:1px;border-left-width:0px;border-right-width:0px;border-top-width:0px;border-style:solid;border-color:rgb(229,229,229)"
            >
                <tbody>
                    <tr>
                        {{#each skincareProducts}}
                            <td
                                class="sm_w_200px_ sm_px_5 md_w_260px_ lg_w_330px_"
                                style="box-sizing:border-box;display:inline-block;width:165px;padding-left:0.5rem;padding-right:0.5rem;padding-bottom:3rem;vertical-align:top"
                            >
                                <img
                                    src={{this.image}}
                                    alt={{this.collection}}
                                    style="width:100%;border-radius:0.5rem"
                                />
                                <p
                                    style="margin-top:0.25rem;margin-bottom:0.25rem;text-align:center;font-size:0.875rem;line-height:1.25rem;font-weight:700"
                                >{{this.collection}}</p>
                                <p
                                    style="text-align:center;font-size:0.75rem;line-height:1rem;font-weight:400"
                                >{{this.product_name}}</p>
                            </td>
                        {{/each}}
                    </tr>
                </tbody>
            </table>
            <h3
                style="margin-bottom:0.75rem;margin-top:1rem;text-align:center;font-size:1.125rem;line-height:1.75rem;font-weight:400;text-transform:uppercase"
            >MAKEUP</h3>
            <table>
                <tbody>
                    <tr>
                        {{#each makeupProducts}}
                            <td
                                class="sm_w_200px_ sm_px_5 md_w_260px_ lg_w_330px_"
                                style="box-sizing:border-box;display:inline-block;width:165px;padding-left:0.5rem;padding-right:0.5rem;padding-bottom:3rem;vertical-align:top"
                            >
                                <img
                                    src={{this.image}}
                                    alt="{{this.collection}}"
                                    style="width:100%;border-radius:0.5rem"
                                />
                                <p
                                    style="margin-top:0.25rem;margin-bottom:0.25rem;text-align:center;font-size:0.875rem;line-height:1.25rem;font-weight:700"
                                >{{this.collection}}</p>
                                <p
                                    style="text-align:center;font-size:0.75rem;line-height:1rem;font-weight:400"
                                >{{this.product_name}}</p>
                            </td>
                        {{/each}}
                    </tr>
                </tbody>
            </table>
            <table style="width:100%;background-color:rgb(247,247,247)">
                <tbody>
                    <tr>
                        <td style="width:33.333333%;padding-top:0.25rem;padding-bottom:0.25rem;text-align:center"><a
                                href="https://www.dior.com/en_int/beauty/folder?fid=legal-terms"
                                style="font-size:0.75rem;line-height:1rem;font-weight:700;color:rgb(0,0,0);text-decoration-line:none"
                            >Legal Terms</a></td>
                        <td style="width:33.333333%;padding-top:0.25rem;padding-bottom:0.25rem;text-align:center"><a
                                href="https://www.dior.com/en_int/beauty/faq-parfum"
                                style="font-size:0.75rem;line-height:1rem;font-weight:700;color:rgb(0,0,0);text-decoration-line:none"
                            >FAQ</a></td>
                        <td style="width:33.333333%;padding-top:0.25rem;padding-bottom:0.25rem;text-align:center"><a
                                href="https://www.dior.com/en_int/beauty/contact-parfum"
                                style="font-size:0.75rem;line-height:1rem;font-weight:700;color:rgb(0,0,0);text-decoration-line:none"
                            >Contact</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>

</html>