<html dir="ltr" lang="en">

    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
        <title>Your Dior Skin Analyzer Consultation Results</title>
    </head>

    <body>
        <table
            align="center"
            width="100%"
            border="0"
            cellPadding="0"
            cellSpacing="0"
            role="presentation"
            style="max-width:37.5em;font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, &quot;Noto Sans&quot;, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;"
        >
            <tbody>
                <tr style="width:100%">
                    <td>
                        <img
                            alt="Dior"
                            src="https://i.ibb.co/RSmFn59/dior-logo.png"
                            style="margin-left:auto;margin-right:auto;margin-top:1rem;margin-bottom:1rem;display:block"
                        />

                        <p style="margin-bottom:1rem;text-align:center;font-size:1rem;line-height:1.5rem">
                            Thank you for the time spent with your beauty consultant.
                        </p>

                        <p style="text-align:center;font-size:1rem;line-height:1.5rem">
                            Following your
                            <b>Dior Skin Analyzer</b>
                            consultation, please find the results of your skin diagnosis as well as your personalized
                            beauty routine.
                        </p>

                        <hr
                            style="width:100%;border:none;border-top:1px solid #eaeaea;margin-top:2rem;margin-bottom:2rem"
                        />

                        <h2
                            style="margin-bottom:1.25rem;text-align:center;font-size:1.25rem;line-height:1.75rem;font-weight:700;text-transform:uppercase"
                        >
                            YOUR SKIN ANALYZER CONSULTATION RESULTS
                        </h2>

                        <h3
                            style="margin-bottom:1rem;text-align:center;font-size:1.25rem;line-height:1.75rem;font-weight:400;text-transform:uppercase"
                        >
                            YOUR SKIN ASSESSMENT
                        </h3>

                        <table
                            style="border-color:rgb(238,171,172);width:100%;border-collapse:collapse;overflow:hidden;border-radius:1.5rem;font-size:0.75rem;line-height:1rem"
                        >
                            <tbody>
                                <tr style="background-color:rgb(238,171,172)">
                                    <td
                                        style="width:60%;padding-left:2rem;padding-top:1.25rem;text-transform:uppercase;letter-spacing:0.1em"
                                    >
                                        {{weakness1}}
                                    </td>

                                    <td style="width:20%;padding-top:1.25rem">{{weaknesScore1}}</td>

                                    <td style="width:20%;padding-top:1.25rem"></td>
                                </tr>

                                <tr style="background-color:rgb(238,171,172)">
                                    <td class="md_pl-16" style="width:60%;padding-left:2rem"></td>

                                    <td style="width:20%"></td>

                                    <td style="width:20%;text-align:center;font-weight:700;color:rgb(125,125,125)">
                                        your priority
                                    </td>
                                </tr>

                                <tr style="background-color:rgb(238,171,172)">
                                    <td
                                        style="width:60%;padding-bottom:1.25rem;padding-left:2rem;text-transform:uppercase;letter-spacing:0.1em"
                                    >
                                        {{weakness2}}
                                    </td>

                                    <td style="width:20%;padding-bottom:1.25rem">{{weaknesScore2}}</td>

                                    <td style="width:20%;padding-bottom:1.25rem"></td>
                                </tr>
                            </tbody>
                        </table>

                        <table
                            style="width:100%;border-collapse:collapse;overflow:hidden;border-radius:1.5rem;font-size:0.75rem;line-height:1rem"
                        >
                            <tbody>
                                <tr>
                                    <td
                                        style="width:60%;padding-left:2rem;padding-top:1.25rem;text-transform:uppercase;letter-spacing:0.1em"
                                    >
                                        {{weakness3}}
                                    </td>

                                    <td style="width:20%;padding-top:1.25rem">{{weaknesScore3}}</td>

                                    <td style="width:20%;padding-top:1.25rem"></td>
                                </tr>

                                <tr style="height:1.25rem"></tr>

                                <tr>
                                    <td
                                        style="width:60%;padding-bottom:1.25rem;padding-left:2rem;text-transform:uppercase;letter-spacing:0.1em"
                                    >
                                        {{weakness4}}
                                    </td>

                                    <td style="width:20%;padding-bottom:1.25rem">{{weaknesScore4}}</td>

                                    <td style="width:20%;padding-bottom:1.25rem"></td>
                                </tr>
                            </tbody>
                        </table>

                        <table
                            style="border-color:rgb(255,244,240);width:100%;border-collapse:collapse;overflow:hidden;border-radius:1.5rem;font-size:0.75rem;line-height:1rem"
                        >
                            <tbody>
                                <tr style="background-color:rgb(255,244,240)">
                                    <td
                                        style="width:60%;padding-top:1.25rem;padding-bottom:1.25rem;padding-left:2rem;text-transform:uppercase;letter-spacing:0.1em"
                                    >
                                        {{weakness5}}
                                    </td>

                                    <td style="width:20%;padding-top:1.25rem;padding-bottom:1.25rem">
                                        {{weaknesScore5}}
                                    </td>

                                    <td
                                        style="width:20%;padding-top:1.25rem;padding-bottom:1.25rem;text-align:center;font-weight:700;color:rgb(125,125,125)"
                                    >
                                        your strength
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <hr
                            style="width:100%;border:none;border-top:1px solid #eaeaea;margin-top:2rem;margin-bottom:2rem"
                        />

                        <h2
                            style="margin-bottom:0.25rem;text-align:center;font-size:1.25rem;line-height:1.75rem;font-weight:400;text-transform:uppercase"
                        >
                            YOUR DIOR BEAUTY ROUTINE
                        </h2>

                        <h3
                            style="margin-bottom:0.75rem;text-align:center;font-size:1.125rem;line-height:1.75rem;font-weight:400;text-transform:uppercase"
                        >
                            SKINCARE
                        </h3>

                        <table style="margin-left:auto;margin-right:auto">
                            <tbody>
                                {{#each skincareProducts}}
                                    <tr>
                                        <td
                                            style="box-sizing:border-box;display:inline-block;width:150px;padding-left:0.5rem;padding-right:0.5rem;padding-bottom:1rem;text-align:center;vertical-align:top"
                                        >
                                            <img
                                                src={{this.product1.image}}
                                                alt={{this.product1.collection}}
                                                style="width:100%;border-radius:0.5rem"
                                            />

                                            <p
                                                style="margin-top:0.25rem;margin-bottom:0.25rem;text-align:center;font-size:0.875rem;line-height:1.25rem;font-weight:700"
                                            >
                                                {{this.product1.collection}}
                                            </p>

                                            <p
                                                style="text-align:center;font-size:0.75rem;line-height:1rem;font-weight:400"
                                            >
                                                {{this.product1.product_name}}
                                            </p>
                                        </td>

                                        {{#if this.product2}}
                                            <td
                                                style="box-sizing:border-box;display:inline-block;width:150px;padding-left:0.5rem;padding-right:0.5rem;padding-bottom:1rem;text-align:center;vertical-align:top"
                                            >
                                                <img
                                                    src={{this.product2.image}}
                                                    alt={{this.product2.collection}}
                                                    style="width:100%;border-radius:0.5rem"
                                                />

                                                <p
                                                    style="margin-top:0.25rem;margin-bottom:0.25rem;text-align:center;font-size:0.875rem;line-height:1.25rem;font-weight:700"
                                                >
                                                    {{this.product2.collection}}
                                                </p>

                                                <p
                                                    style="text-align:center;font-size:0.75rem;line-height:1rem;font-weight:400"
                                                >
                                                    {{this.product2.product_name}}
                                                </p>
                                            </td>
                                        {{/if}}
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>

                        {{#if makeupProducts}}

                            <hr
                                style="width:100%;border:none;border-top:1px solid #eaeaea;margin-top:1rem;margin-bottom:1rem"
                            />

                            <h3
                                style="margin-bottom:1rem;text-align:center;font-size:1.125rem;line-height:1.75rem;font-weight:400;text-transform:uppercase"
                            >
                                MAKEUP
                            </h3>

                            <table style="margin-left:auto;margin-right:auto">
                                <tbody>
                                    {{#each makeupProducts.length}}
                                        <tr>
                                            <td
                                                style="box-sizing:border-box;display:inline-block;width:150px;padding-left:0.5rem;padding-right:0.5rem;padding-bottom:1rem;text-align:center;vertical-align:top"
                                            >
                                                <img
                                                    src={{this.product1.image}}
                                                    alt={{this.product1.collection}}
                                                    style="width:100%;border-radius:0.5rem"
                                                />

                                                <p
                                                    style="margin-top:0.25rem;margin-bottom:0.25rem;text-align:center;font-size:0.875rem;line-height:1.25rem;font-weight:700"
                                                >
                                                    {{this.product1.collection}}
                                                </p>

                                                <p
                                                    style="text-align:center;font-size:0.75rem;line-height:1rem;font-weight:400"
                                                >
                                                    {{this.product1.product_name}}
                                                </p>
                                            </td>

                                            {{#if this.product2}}
                                                <td
                                                    style="box-sizing:border-box;display:inline-block;width:150px;padding-left:0.5rem;padding-right:0.5rem;padding-bottom:1rem;text-align:center;vertical-align:top"
                                                >
                                                    <img
                                                        src={{this.product2.image}}
                                                        alt={{this.product2.collection}}
                                                        style="width:100%;border-radius:0.5rem"
                                                    />

                                                    <p
                                                        style="margin-top:0.25rem;margin-bottom:0.25rem;text-align:center;font-size:0.875rem;line-height:1.25rem;font-weight:700"
                                                    >
                                                        {{this.product2.collection}}
                                                    </p>

                                                    <p
                                                        style="text-align:center;font-size:0.75rem;line-height:1rem;font-weight:400"
                                                    >
                                                        {{this.product2.product_name}}
                                                    </p>
                                                </td>
                                            {{/if}}
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>

                        {{/if}}

                        <table style="width:100%;background-color:rgb(247,247,247)">
                            <tbody>
                                <tr>
                                    <td
                                        style="width:33.333333%;padding-top:0.25rem;padding-bottom:0.25rem;text-align:center"
                                    >
                                        <a
                                            href="https://www.dior.com/en_int/beauty/parfum-legal-terms"
                                            style="font-size:0.75rem;line-height:1rem;font-weight:700;color:rgb(0,0,0);text-decoration-line:none"
                                        >
                                            Legal Terms
                                        </a>
                                    </td>

                                    <td
                                        style="width:33.333333%;padding-top:0.25rem;padding-bottom:0.25rem;text-align:center"
                                    >
                                        <a
                                            href="https://www.dior.com/en_int/beauty/faq-parfum"
                                            style="font-size:0.75rem;line-height:1rem;font-weight:700;color:rgb(0,0,0);text-decoration-line:none"
                                        >
                                            FAQ
                                        </a>
                                    </td>

                                    <td
                                        style="width:33.333333%;padding-top:0.25rem;padding-bottom:0.25rem;text-align:center"
                                    >
                                        <a
                                            href="https://www.dior.com/en_int/beauty/contact-parfum"
                                            style="font-size:0.75rem;line-height:1rem;font-weight:700;color:rgb(0,0,0);text-decoration-line:none"
                                        >
                                            Contact
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>